{% extends 'base.html' %}
{% block content %}
	<h1 class="text-center text-success">{% block title %}Acerca de{% endblock %} ... </h1>
	<h2 class="text-info">Acerca de mí:</h2>
	<p>
		Hola, mi nombre completo es HUANACUNI SUAÑA Darley (pongo mis Apellidos primero)
		y me parece que ya terminé con mi presentación.<br>
	</p>
	<h2 class="text-info">Acerca de la 'Aplicación'/'Programa'</h2>
	<p>
		Desde mi punto de vista aún no está completo, y <b>estoy seguro que si te puedes dar cuenta</b>.
		<br><br>
		Puedes añadir una nueva <i>historia</i> en <a href="{{ url_for('create') }}"><b>Añadir Nuevo</b></a>.
		<br><br>
		Verás más sobre la <b>página</b> en <a href="{{ url_for('create') }}"><b>Acerca de ...</b></a>, aunque supongo que ya te diste cuenta (de lo contrario no estarias leyendo ésto).
		<br><br>
		Y en <b>Inicio</b>, bueno, pues vas a inicio (es lo lógico ¿no?).
		<br><br>
		<b>Veamos más acerca de las historias:</b><br>
		Te informo que los títulos y contendos, no deben de ser repetidos
		<br><br>
		Puedes ver una o editarla dando clic en su <b>nombre</b> y <b>Editar</b> <b><i>respectivamente</i></b>.
		<br><br>
		Tienes la opción de <strong>editar una historia</strong> tanto en la página de inicio (debajo del nombre de la historia) como en la historia misma (en la parte inferior de la historia).
		<br><br>
		Si deseas, tambien es posible <strong>eliminar una  historia</strong> dentro de la opción de<b>Editar</b>, verás la opción de <b>Eliminar</b>.<br>
	</p>
	<h3 class="text-info">Puedes contactarme si tienes algún problema:</h3>
	<ul>
		<li>En Gmail como: tiusdiux.com@gmail.com</li>
		<li>En Telegram como: @GiveLaw</li>
		<li>En Discor como: @Dario0048</li>
	</ul>
{% endblock %}