{% extends 'base.html' %}
{% block content %}
	<h1 class="text-center text-info">{% block title %}Acerca de{% endblock %}</h1>
	<h2 class="text-info">Acerca de mí:</h2>
	<p>
		Hola, mi nombre completo es HUANACUNI SUAÑA DARLEY (pongo mis Apellidos primero)
		y me parece que ya terminé con mi presentación.<br>
	</p>
	<h2 class="text-info">Acerca de la 'Aplicación'/'Programa'</h2>
	<p>Desde mi punto de vista ya está completo, <b>no sé si te puedes dar cuenta</b>.</p>

	<h3>Veamos más acerca de las historias:</h3>
	<p>
		Te informo que los títulos y contendos, no deben de ser repetidos
		Los nombres de las mismas deben de tener un máximo de 30 caracteres, las direcciones de correo solo aceptan 20 caracteres y el contenido no tiene un limite de caracterers establecidos.
		<br><br>
		ME PARECE QUE ESO ES TODO
	</p>
	<h3 class="text-info">Dudas y sugerencias favor de contactarme en:</h3>
	<ul>
		<li>En Gmail como: tiusdiux.com@gmail.com</li>
		<li>En Telegram como: @GiveLaw</li>
		<li>En Discord como: @Dario0048</li>
	</ul>
{% endblock %}